.page {
  font-family: "Montserrat", sans-serif;
  background-image: url('/static/images/forest.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.custom-navbar {
  background-color: rgba(255, 255, 255, 0.85) !important;
  border-radius: 1.5rem;
  width: 80%;
  margin: auto;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.logo-text {
  color: #145235 !important;
  font-weight: bold;
}
.nav-text{
  font-weight: bold !important;
}
.nav-text:hover {
  color: black;
}
.nav-text.active{
  color:#145235 !important;
  text-decoration: underline #145235;
}


.challenge-btn {
  background-color: #1b5e20 !important;
  color: white !important;
  font-weight: bold;
  border: none;
}

.challenge-btn:hover {
  background-color: #1b5e20 !important;
}

.mode-icon span {
  color:  #1b5e20  !important;
  font-size: 24px;
}


.mode-icon:hover span {
  color: black;
}


.home-content {
  background-color: rgba(255, 255, 255, 0.85);
  width: 80%;
  padding: 5%;
  margin-top: 10%;
  border-radius: 1.5rem;
  margin: 2rem auto;
  flex-grow: 1; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}



.top-section {
  background-color: white;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.top-section h2 {
  font-weight: 800; 
  align-content: center;     
  align-items: center;
  color: #198754;         
}

.top-section p {
  font-weight: 600;       
  color: #145235;  
}

.tip-slider {
  height: 2.5rem; /* height of one tip */
  overflow: hidden;
  width: 100%;
  text-align: center;
  position: relative;
}

.tip-list {
  display: flex;
  flex-direction: column;
  animation: slideUp 20s steps(10) infinite;
}

.tip-list p {
  margin: 0;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  opacity: 0.9;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.bottom-section {
  background-color: (255, 255, 255, 0.85);
  width: 100%;
  padding: 2rem;
  border-radius: 1.5rem;
}
.latest{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.latest h3 {
  font-weight: 600; 
  align-content: center;     
  align-items: center;
  color: #198754;     
}
.latest a{
  text-decoration: none;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact h1 {
  font-weight: 600;
  text-align: center;
  color: #198754;
  margin-bottom: 1.5rem;
}

.contact form {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.submit-btn {
  background-color: #198754 !important;
  border: none !important;
  color: white;
}
.add-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-page h1 {
  font-weight: 600;
  text-align: center;
  color: #198754;
}

.add-page form {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.add-btn {
  background-color: #198754 !important;
  border: none !important;
}
.latest-actions-row {
  justify-content: flex-start;
  gap: 1rem; 
}

.eco-card {
  width: 100%;
  max-width: 100%;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
}

.eco-card img {
  height: 180px; 
  object-fit: cover;
}

.eco-card-title,
.eco-card p {
  color: black;
  justify-content: center;
}

.chart{
  width: 100%;
  max-width: 300px;
}
#locationChart {
  width: 50%;
  height: 30%;
  display: flex;
}

.titles{
  font-weight: 600;
  color: #198754;
}

.graph{
  background-color: white;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.quiz {
  background-color: white;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.quiz h2 {
  font-weight: 600;
  color: #198754;
}

.question {
  opacity: 0;
  transform: translateY(20px);
  animation: Up 0.6s forwards;
}

@keyframes Up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.question h4{
  font-weight: 600;
  color: #198754;
}
.question form {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 1rem;
}

.next-button{
  background-color: #1b5e20;
  color: white;
  border: none;
  width:40%;
}
