{% extends 'main/base.html' %}

{% block title %}Search Page{% endblock %}
<!-- Search Page -->
{% block content %}
<form class="d-flex justify-content-center" method="get" action="{% url 'eco:search_view' %}">
  <div class="input-group w-75 w-md-50">
    <!-- Label to search and button -->
    <input class="form-control form-control-lg" type="search" name="search"
           placeholder="Search for a plant..." value="{{ request.GET.search }}">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </div>
</form>
{% if action %}
  <h2 class="mt-4 search-result">Search Results ({{ action.count }})</h2>
  <h5 class="search-result">Results for: <strong>{{ request.GET.search }}</strong></h5>
<div class="row latest-actions-row">
    {% for act in action %}
      <div class="col-md-4 col-lg-3 mb-4 d-flex">
        <div class="card eco-card">
          <img src="{{ act.image.url }}" class="card-img-top" alt="{{ act.title }}" />
          <div class="card-body">
            <br>
            <h6 class="eco-card-title mb-2">{{ act.title }}</h6>
            <p>
              {{ act.description|truncatewords:5 }}...
              <a href="{% url 'eco:detail_view' act.id %}" class="text-decoration-none text-success">Read more</a>
            </p>
            <p><strong>📍 {{ act.location }}</strong></p>
             {% if act.avg_rating %}
            <p> 
     <!-- Print the average based on AVG library -->
            Average Review:
            {% if act.avg_rating|floatformat:0 == "1" %} 👍🏻 Try Harder
            {% elif act.avg_rating|floatformat:0 == "2" %} 🎉 Keep Going
            {% elif act.avg_rating|floatformat:0 == "3" %} 🤩 Nice Job
            {% elif act.avg_rating|floatformat:0 == "4" %} 🥇 Excellent
            {% endif %}
          </p>
            {% else %}
              <p>Average Review: No ratings yet</p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
</div>
{% else %}
  <h5 class="mt-4 text-danger">No results found for "{{ request.GET.search }}"</h5>
{% endif %}
{% endblock %}
