{% extends 'main/base.html' %}

{% block title %}
Update Action Page
{% endblock %}

{% block content %}
<div class="col-lg-8 add-page mx-auto">
  <h1 class="fw-bold text-center mb-4">Update {{action.title}}</h1>
  <form class="d-flex flex-column gap-3" action="{% url 'eco:update_view' action.id%}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" placeholder="{{action.title}}" name="title" class="form-control" value="{{action.title}}"required/>
    <textarea placeholder="Description" name="description" class="form-control" required>{{action.description}}</textarea>
      <div class="row"> 
        <div class="col-3"> 
            <img src="{{action.image.url}}" class="w-100" >
        </div>
      </div>
      <input type="file" name="image" class="form-control"/> 

<h5 class="m-0 p-0">Location:</h5>
<div class="location"> 
  {% for val, label in locationChoices %}
    <input type="radio" id="{{ val }}" name="location" value="{{ val }}"
      {% if action.location == val %} checked {% endif %}>
    <label for="{{ val }}">{{ label }}</label>
  {% endfor %}
</div>



    <button type="submit" class="btn btn-primary add-btn">Add</button>
  </form>
</div>

    {% endblock %}